body {

}



a {
    color: white;
    background-color: black;    
    margin: auto;
    margin-right: 10px;
    font-size: 16px;
    text-decoration:none;
}

#header {
    background-color: Black;
    margin: auto;
    height: 20px;
}

#back {
    padding: 10px;
}

#mainTitle {
    text-decoration: underline;
}