body {
    font-family: sans-serif;
    background-color: #FF6766;
}



a {
    color: white;
    background-color: black;    
    margin: auto;
    font-size: 16px;
    text-decoration:none;
}

#header {
    background-color: Black;
    margin: auto;
    height: auto;
    color: white;
    text-align: center;
    font-size: 3em;
    width: 100%;
}

#back {
    padding: 10px;
}

nav {
    background-color: black;
    height: 27px;
}

nav a {
    padding: 10px;
}

nav a:hover{
    background-color: darkgrey;
}

.badColorButton:hover {
    background-color: yellow;
}



#mainTitle {
    text-decoration: underline;
}

div.guitarImg {
    display: none;
}

a.guitarLink:hover + div.guitarImg {
    display: block;
}

a.guitarLink {
    background: none!important;
    border: none;
    padding: 0!important;   
    font-weight: bold;
    font-size: 15.5px;
    color: black;
}

footer {
    background-color: black;
    color: white;
}   







