body {
    font-family: "Montserrat";
    background-color: #5CDB95;
    color: midnightblue;
}
.sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: midnightblue;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
}

.closebtn:hover {
    color: #0946B9
}
.example {
    padding-left: 10px;
}

.sideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

#sideLinks a:hover {
  background-color: #0946b9;
}

.sideBar .closebtn {
  top: 0;
  right: 8px;
  font-size: 24px;
  position: absolute;
}



#main {
  transition: margin-left .5s;
  padding: 16px;
}

nav a {
    color: white;
    background-color: #05386B;    
    margin: 0px;
    font-size: 16px;
    text-decoration:none;
    border-radius: 20px;
    padding:10px;
    
}

nav a:hover {
    background-color: #0946b9;
}

#header {
    background-color: #5CDB95;
    margin: auto;
    height: auto;
    font-size: 1.5em;
    width: 100%;
    float: left;    
    color: #05386B;
    font-weight: bold;
}

nav {
    background-color: #5CDB95;
    height: 27px;
    float: right;
}
    
#title {
    transition: margin-left .5s;
    float:left;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    
}

ul li a {
    text-decoration: none;
    color: white;
    background-color: red;
    display: block;
    padding: 10px;
}

ul li a:hover {
    background-color: orangered;
}

#bold {
    font-weight: bold;
}

