body {
    background-color: #3A5A40
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.8em;
    color: white; 
    margin-top: -5.4%;
    
}

#header {
    margin-top: -7px;
    margin-left: -8px;
    width: 101.2%;
    height: 12%;
    background-color: #344E41;
    color: white;   
    transition: 0.5s;
}

#hamburgerIcon {
    background-color: #344E41;
    color: white;
    font-size: 3em;
    margin: 1%;    
    text-decoration: none;
    transition: 0.3s;
    
}

#hamburgerIcon:hover {  
    transition: 0.5s;
    text-shadow: 1px 1px 7px black;
    
}

#navbar {
    height: 100%;
    width: 0px;
    background-color: #344E41;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
    margin-top: -3px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', 'cursive';
    font-size: 32px;
}

#navbar a:hover {
    text-shadow: 1px 1px 7px black;
    transition: 0.23s;
    font-size: 34px;
}

#content {
    transition: margin-left 0.3s;
    font-family: Calibri;
    font-size: 32px;
    font-weight: 100;
    color: #263826;
    background-color: #588157;
    padding:10px;
    
}

#carousel {
    height:100px;
    width:100px;
}

#activeButton a{
    background-color: #19251F; 
    padding-right: 49px;
    padding-left: 48px;
}

#activeButton a:hover {
    padding-left: 47px;
    padding-right: 46px;
    font-size: 34px;
}