body {
    background-color: #3A5A40
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.8em;
    color: white; 
    margin-top: -54px;
    
}

#header {
    margin-top: -7px;
    margin-left: -8px;
    width: 101.2%;
    height: 12%;
    background-color: #344E41;
    color: white;   
}

#hamburgerIcon {
    background-color: #344E41;
    color: white;
    font-size: 2.5em;
    padding-left: 1%;
    margin-top: 0.8%;
    border: none;
}

#hamburgerIcon:active {
    
}
