body {
    background-color: #3A5A40
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4.45vw;
    color: white;
}

#header {
    width: 100%;
    height: 12%;
    background-color: #344E41;
    color: white;   
    transition: 0.5s;
    text-align: center;
    
}

#hamburgerIcon {
    background-color: #344E41;
    color: white;
    font-size: 4vw; 
    margin-top: -0.01%;
    margin-left: 13px;
    text-decoration: none;
    float: left;
    
}

#hamburgerIcon:hover {  
    transition: 0.5s;
    text-shadow: 1px 1px 7px black;
    
}

#navbar {
    height: 100%;
    width: 0px;
    background-color: #344E41;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
    margin-top: -3px;
}

#normalLinks {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', 'cursive';
    font-size: 32px;
}

#normalLinks:hover {
    text-shadow: 1px 1px 7px black;
    transition: 0.23s;
    font-size: 34px;
}

#dropdownLinks {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', 'cursive';
    
}

#dropdownLinks:hover {
    text-shadow: 1px 1px 7px black;
    transition: 0.23s;
    font-size: 26px;
}


#content {
    transition: margin-left 0.3s;
    padding:10px;
}

#dropLinks {
    transition: margin-left 0.3s;
}


/*Main Page CSS */



@media screen and (min-width: 751px) {
    #textMainPage {
    font-family: Calibri;
    font-size: 1.8vw;
    font-weight: 100;
    color: #0d120d;
    background-color: #588157;
    float: right;
    border-width: 2.25px;
    border: #344E41;
    border-style: solid;
    padding: 5px;
    width: 39.07%; 
    transition: margin-right 0.3s;
}
    #carousel {
    height: 21.89%; 
    width: 39.07%;
    transition: margin-left 0.3s;
    margin-left: 4.6%;
    
}
}

@media screen and (max-width: 750px) {
    #textMainPage {
    font-family: Calibri;
    font-size: 3vw;
    font-weight: 100;
    color: #0d120d;
    background-color: #588157;
    border-width: 2.25px;
    border: #344E41;
    border-style: solid;

        
    margin-left: 28%;    
    padding: 5px;
    width: 53.33%; 
    transition: margin-right 0.3s;
}
    #carousel {
    height: 30%; 
    width: 53.33%;
    transition: margin-left 0.3s;
    margin-left: 28%;
    
}
    #carousel::before {
        content: "\a";
        white-space: pre;
    }
}


.carousel-inner {
    border: #344E41;
    border-style: solid;
    border-width: 3px;
}


#activeButtonIndex a{
    background-color: #19251F; 
    padding-right: 49px;
    padding-left: 48px;
}

#activeButtonIndex a:hover {
    padding-left: 47px;
    padding-right: 46px;
    font-size: 34px;
}


/* Code Tutorial CSS */

#activeButtonTutorial a{
    background-color: #19251F; 
    padding-right: 49px;
    padding-left: 14px;
}

#activeButtonTutorial a:hover {
    padding-left: 11px;
    padding-right: 49px;
    font-size: 34px;
}

#titleTutorials {
    color: #141E14;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
}

#textTutorialPage {
    margin-right: 7.2%;
    background-color: #588157;
    padding: 10px;
    border-width: 2px;
    border: #344E41;
    border-style: solid;
    color: #0d120d;
}

#code {
    margin-right: 7.2%;
    background-color: #2B3E2A;
    color: #A3B18A;
    padding: 10px;
    border-width: 2px;
    border: #344E41;
    border-style: solid;
    font-family: 'Source Code Pro', monospace;
}

#copyButton {
    float:right;
    color: #263826;
    background-color: #588157;
    background-color: #2B3E2A;  
    color: #A3B18A;
    padding: 2px;
    user-select: none;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    
}




#noSelect {
    user-select: none;
}

code {
    color: black;
    font-weight: bold;
}

#arrowhead {
    font-weight: bolder;
}


.copyTextDiv {
    position: relative;
    display: inline-block;
    float: right;
}

.copyTextDiv .copied {
  
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    
    /* Positioning */
    position: absolute;
    bottom: 130%;  
    margin-left: -33px;

    /* Hidden until button click */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}


/* Arrow underneath tooltip */
.copyTextDiv .copied::after {
    content: "";
    position: absolute;
    margin-top: 29px;
    margin-left: -40px;
    border-width: 5px;
    /* makes it into triangle */
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copyIcon {
    font-size:1.7vw;
}

#copyIcon:hover {
    font-size:1.9vw;
}
